{% extends './base.html' %}

{% block title%} ingles {% endblock %}

{% block body %}
<br>

<br>

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">ABSTRACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://youtu.be/O_TyGuij4v8">VIDEO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GLOSSARY</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Project Description</h5>
      <p class="card-text">This project contains the activities developed and the knowledge 
        acquired in the semester in the subjects of Operating Systems, Introduction to hardware 
        and programming logic, integrating them into a web application that allows the visualization 
        of the topics seen through the content requested in each subject, to This web application has 
        a menu with the respective submenus for better organization and a clear structure.<br>
        question <br>
        The integrative Project tries to make an application which is a menu, in which the
        information requested by each subject is evident, each subject will have its respective
        submenu in which we will load work of each subject, the subjects that make up the program
        are English, operating systems, introduction to hardware and programming logic, which is
        the core subject .<br>
        How did you do? <br>
        The group first defined what was request as a Project, second we looked for information
        and together with the teachers we learned from scratch how to start programming, for
        example: design our own website, create codes, etc. With the knowledge acquired, we
        create our website, then in this implemented the menu and submenu, we learned in
        programming logic class, along with request videos for Operating system and Introduction
        to Hardware.
        As We said before, most of the information we obtained was from the classes and teacher at
        the university, however in the case of the website, Steven had prior knowledge of HTLM to
        make the page, and the questions or errors that we had in the creation of the code, we
        solved them by searching in the internet or watching videos.<br>
        What for you did this Project? <br>
        The main objetive for us when doing this Project is to test the knowlegde acquired during
        the first semester of system engineering, this through trial and error. Resulting in a website
        with was requested in each class.</p>
    </div>
  </div>
  
{% endblock %}