{% extends "base.html" %}

{% block title%} Lineas {% endblock %}

{% block body %}
<br>

<br>

<div class="card">
    <div class="card-header">
      Linea de Tiempo
    </div>
    <div class="card-body">
      <h5 class="card-title">Linea de Tiempo de: computadores y virus</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Ver linea de tiempo computadores</a>
      <br>
      <br>
      <a href="#" class="btn btn-primary">Ver linea de tiempo virus</a>
    </div>
  </div>

{% endblock %}