{% extends './base.html' %}

{% block title%} Windows 7 {% endblock %}

{% block body %}

<br>

<br>

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Manual de instalacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://youtu.be/ilU-KFHyGLA">Video</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Manual de instalacion windows 7</h5>
      <p class="card-text"></p>
      <a href="https://drive.google.com/file/d/1onOWUFu4pWn4iEwntMtwy4KbVVCStS9m/view?usp=sharing" class="btn btn-primary">WINDOWS7</a>
    </div>
  </div>
{% endblock %}