{% extends './base.html' %}

{% block title%} windows 10 {% endblock %}

{% block body %}

<br>

<br>

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Manual de instalacion Windows 10</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://youtu.be/ilU-KFHyGLA">Video</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Manual de instalacion windows 10</h5>
      <p class="card-text"></p>
      <a href="https://drive.google.com/file/d/1FAcsAzejOBL6GlurWzpx4k3PKk_gxwRj/view?usp=drive_link" class="btn btn-primary">Windows 10</a>
    </div>
  </div>
{% endblock %}